.CardComponent {
    width: 1100px;
    height: 600px;
    border: 1px black solid;
    border-radius: 25px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    .CardBody {
        position: absolute;
        right: 0;
        bottom: 0;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-top-left-radius: 60px;
        width: 900px;
        height: 525px;
        text-align: center;

        .StartButton {
            position: absolute;
            right: 20px;
            bottom: 20px;

            width: 100px;
            height: 100px;
            border-radius: 50px;
            background: none;
            outline: none;
        }
    }

    .CardSide {
        float: left;
        width: 200px;
        height: 525px;

        .SideButton {
            &:first-child {
                margin-top: 60px;
            }
            text-align: left;
            padding-left: 20px;
            display: block;
            margin-bottom: 40px;
            width: 200px;
            height: 50px;
            font-size: 20px;
            background: none;
            border: none;
            outline: none;
        }

        .SelectedButton {
            background-color: #e0817b;
            color: white;
            font-weight: bold;
            border-radius: 15px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
        }
    }

    .CardHeader {
        width: 1100px;
        height: 75px;
        display: table;

        .Header {
            display:table-cell;
            vertical-align: middle;
            font-weight: bold;
            font-size: 40px;
            text-align: center;

            .InfoBox {
                position: absolute;
                top: 15px;
                left: 30px;
                width: 200px;
                line-height: 50px;
                
                .UserThumb {
                    float: left;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }

                .UserInfo {
                    width: 120px;
                    padding-left: 20px;
                    font-weight: normal;
                    font-size: 20px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .LogoutButton {
                position: absolute;
                right: 30px;
                top: 2px;                
            }
        }
    }
}