.CardComponent {
    width: 1100px;
    height: 600px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: linear-gradient(135deg, #00d6c2, #8694fc);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    .CardBody {
        position: absolute;
        right: 0;
        bottom: 0;
        //border-top: 1px solid black;
        //border-left: 1px solid black;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 25px;
        width: 900px;
        height: 525px;
        text-align: center;
        background-color: white;

        .StartButton {
            position: absolute;
            right: 20px;
            bottom: 20px;

            width: 100px;
            height: 100px;
            border-radius: 50px;
            background: none;
            outline: none;
            cursor: pointer;
        }
    }

    .CardSide {
        float: left;
        width: 200px;
        height: 525px;

        .SideButton {
            &:first-child {
                margin-top: 60px;
            }
            margin: auto;
            text-align: center;
            display: block;
            margin-bottom: 20px;
            width: 180px;
            height: 60px;
            font-size: 20px;
            background: none;
            border: none;
            outline: none;
            color: #d9d9d9;
            border-radius: 25px;
            font-family: 'MaplestoryLight';
            cursor: pointer;
        }

        .select {
            animation-name: buttonFadein;
            -moz-animation-duration: 0.3s;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .deSelect {
            animation-name: buttonFadeout;
            -moz-animation-duration: 0.3s;
            animation-duration: 0.3s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        .SelectedButton {
            background-color: #ff9fbf;
            color: white;
            //font-weight: bold;
            font-family: 'MaplestoryBold';
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
            text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000,
                1px 1px 0 #000;
        }
    }

    .CardHeader {
        width: 1100px;
        height: 75px;
        display: table;

        .Header {
            display: table-cell;
            vertical-align: middle;
            font-weight: bold;
            font-size: 40px;
            text-align: center;

            .Language {
                float: right;
                width: 220px;
                //border: 1px solid black;
                vertical-align: middle;
                margin-bottom: 5px;
                margin-right: 20px;

                .ko {
                    display: inline-block;
                    width: 100px;
                    height: 35px;
                    border: none;
                    outline: none;
                    border: 2px solid #ff3547;
                    vertical-align: middle;
                    border-top-left-radius: 17px;
                    border-bottom-left-radius: 17px;
                    color: #ff3547;
                    font-size: 16px;
                    cursor: pointer;
                    font-family: 'MaplestoryLight';
                }

                .en {
                    display: inline-block;
                    width: 100px;
                    height: 35px;
                    border: none;
                    outline: none;
                    border: 2px solid #ff3547;
                    vertical-align: middle;
                    border-top-right-radius: 17px;
                    border-bottom-right-radius: 17px;
                    color: #ff3547;
                    font-size: 16px;
                    cursor: pointer;
                    font-family: 'MaplestoryLight';
                }

                .select {
                    background-color: #ff3547;
                    color: white;
                }
            }

            .InfoBox {
                position: absolute;
                top: 15px;
                left: 30px;
                width: 200px;
                line-height: 50px;

                .UserThumb {
                    float: left;
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                }

                .UserInfo {
                    width: 120px;
                    padding-left: 20px;
                    font-weight: normal;
                    font-size: 20px;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            .LogoutButton {
                position: absolute;
                right: 30px;
                top: 2px;
            }
        }
    }
}

@keyframes buttonFadein {
    from {
        color: #d9d9d9;
        background: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        //font-weight: normal;
        font-family: 'MaplestoryLight';
    }

    to {
        background-color: #ff9fbf;
        color: white;
        //font-weight: bold;
        font-family: 'MaplestoryBold';
        //border-radius: 25px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
        text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000,
            1px 1px 0 #000;
    }
}

@keyframes buttonFadeout {
    to {
        color: #d9d9d9;
        background: none;
        border: none;
        box-shadow: none;
        text-shadow: none;
        //font-weight: normal;
        font-family: 'MaplestoryLight';
    }

    from {
        background-color: #ff9fbf;
        color: white;
        //font-weight: bold;
        //border-radius: 25px;
        font-family: 'MaplestoryBold';
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
        text-shadow: -0px -0px 0 #000, 0px -0px 0 #000, -0px 0px 0 #000,
            1px 1px 0 #000;
    }
}
