.LoginComponent {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    animation: fadein 0.9s;

    .LoginBox {
        width: 350px;
        height: 600px;
        background-color: rgba(255, 255, 255, 0.699);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        animation: fadein 0.8s;

        .Favicon {
            margin-top: 80px;
            width: 350px;
            height: 200px;
        }

        .LoginText {
            font-size: 30px;
            font-weight: 600;
        }
        
        .Description {
            color:rgba(0, 0, 0, 0.281);
            font-size: 14px;
            margin-top: 10px;
        }

        .GoogleLoginButton {
            margin-top: 100px;
        }

    }

    .IntroBoxWrap {
        float: right;
        width: 570px;
        height: 600px;
        border-left: 1px black solid;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        display: table;

        .IntroBox {
            display: table-cell;
            vertical-align: middle;

            .IntroText {
                font-size: 27px;
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    20% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}