.PreferenceBody {
    margin: auto;
    margin-top: 63px;
    width: 800px;
    height: 400px;

    .PreferenceItem {
        height: 60px;
        line-height: 45px;
        vertical-align: middle;
        margin-top: 15px;

        .MButton {
            width: 100px;
            height: 45px;
            border: 0;
            font-size: 18px;
            border-radius: 15px;
            outline: none;
            background: none;
            float: right;
            cursor: pointer;
            color: white;
            font-family: 'MaplestoryLight';
            margin-right: 170px;

            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
            &:hover {
                color: white;
                filter: brightness(90%);
            }
        }

        .end {
            background-color: #22d77e;
        }

        .start {
            background-color: #ff3547;
        }

        .ItemText {
            display: inline;
            vertical-align: middle;
            font-size: 20px;
            float: left;
            margin-left: 170px;
        }

        .ItemSwitch {
            margin-right: 170px;
            float: right;
            vertical-align: middle;
            padding-top: 15px;
        }
        .ItemSwitchD {
            float: right;
            vertical-align: middle;
            padding-top: 15px;
        }

        .ItemDetail {
            vertical-align: middle;
            float: right;
            width: 50px;
            height: 50px;
            //margin-left: 5px;
            padding-top: 15px;
            margin-right: 120px;
            .DetailButton {
                width: 33px;
                height: 33px;
                background: white;
                outline: none;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    filter: brightness(90%);
                }
            }
        }

        .LogoutButton {
            float: right;
            vertical-align: middle;
            margin-right: 170px;
        }
    }
}

.ApplyButton {
    width: 140px;
    height: 50px;
    border: 0;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'MaplestoryLight';

    &.init {
        background-color: #f2f3f4;
        color: black;
    }

    &.apply {
        color: white;
        background-color: #22d77e;
    }

    &:hover {
        filter: brightness(85%);
    }
}
