.PreferenceBody {
    margin: auto;
    margin-top: 63px;
    width: 800px;
    height: 400px;

    .PreferenceItem {
        &:first-child {
            padding-left: 50px;
        }
        height: 60px;
        line-height: 45px;
        vertical-align: middle;
        margin-right: 50px;
        margin-top: 30px;

        .ItemText {
            display: inline;
            vertical-align: middle;
            font-size: 20px;
            margin-right: 250px;
        }

        .ItemSwitch {
            display: inline-block;
            vertical-align: middle;
            padding-top: 15px;
        }

        .ItemDetail {
            display: inline-block;
            vertical-align: middle;
            //border: 1px solid black;
            width: 50px;
            height: 50px;
            margin-left: 5px;
            padding-top: 15px;

            .DetailButton {
                width: 33px;
                height: 33px;
                background: white;
                outline: none;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    filter: brightness(90%);
                }
            }
        }

        .LogoutButton {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.ApplyButton {
    position: absolute;
    right: 45px;
    bottom: 31px;

    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #22d77e;
    border: 2px solid #22d77e;
    font-family: 'MaplestoryLight';
    font-size: 20px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
