.PreferenceBody {
    margin: auto;
    margin-top: 63px;
    width: 800px;
    height: 400px;

    .PreferenceItem {
        &:first-child {
            padding-left: 50px;
        }
        height: 60px;
        line-height: 45px;
        vertical-align: middle;
        margin-right: 50px;
        margin-top: 30px;

        .ItemText {
            display: inline;
            vertical-align: middle;
            font-size: 20px;
            margin-right: 250px;
        }

        .ItemSwitch {
            display: inline-block;
            vertical-align: middle;
            padding-top: 15px;
        }

        .ItemDetail {
            display: inline-block;
            vertical-align: middle;
            //border: 1px solid black;
            width: 50px;
            height: 50px;
            margin-left: 5px;
            padding-top: 15px;

            .DetailButton {
                width: 33px;
                height: 33px;
                background: white;
                outline: none;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    filter: brightness(90%);
                }
            }
        }

        .LogoutButton {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.ApplyButton {
    width: 140px;
    height: 50px;
    border: 0;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    outline: none;
    background: none;
    cursor: pointer;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-family: 'MaplestoryLight';

    &.init {
        background-color: #f2f3f4;
        color: black;
    }

    &.apply {
        color: white;
        background-color: #22d77e;
    }

    &:hover {
        filter: brightness(85%);
    }
}
