audio::-webkit-media-controls-panel {
    background-color: #fff;
    color: #fff;
}

.SoundComponent {
    .SoundList {
        margin: auto;
        margin-top: 40px;
        width: 640px;
        height: 340px;
        border: 1px solid black;
        border-radius: 25px;
        padding-left: 50px;
        .Empty {
            height: 240px;
            line-height: 240px;
            margin-right: 50px;
        }

        .FileUpload {
            //margin-top: 145px;
            margin-right: 50px;
            display: block;
            .UploadButton {
                display: inline-block;
                width: 200px;
                height: 30px;

                vertical-align: middle;
                text-align: left;
                line-height: 30px;

                padding-left: 15px;
                margin-right: 15px;

                border: 1px solid #ada5a5;
                border-radius: 10px;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;

                transition: all 0.1s;

                .Icon {
                    float: right;
                    margin-right: 10px;
                    margin-top: 6px;
                }
            }
            .UploadButton:hover {
                border: 1px solid rgba(78, 154, 255, 0.63);
                box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
                    0 3px 6px rgba(78, 154, 255, 0.63);
            }

            .NameInput {
                width: 200px;
                height: 25px;
                vertical-align: middle;
                border: 1px solid black;
                font-family: 'MaplestoryLight';
            }

            .AddButton {
                vertical-align: middle;
                cursor: pointer;
            }
        }
        .SoundListItem {
            width: 520px;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            text-align: left;
            float: left;
            margin-top: 25px;
            margin-left: 70px;

            .ItemName {
                display: inline-block;
                border: 1px solid #ada5a5;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                border-radius: 10px;
                padding-left: 10px;
                width: 430px;
                height: 41px;
                cursor: pointer;
                transition: all 0.1s;

                .ItemScore {
                    display: inline-block;
                    margin-left: 10px;
                }

                .NameText {
                    display: inline-block;
                    width: 170px;
                    margin-top: 3px;
                }

                .EditInput {
                    margin-top: 1px;
                    height: 35px;
                    width: 170px;
                    font-size: 17px;
                    border: 1px solid black;
                    font-family: 'MaplestoryLight';
                }

                .Play {
                    float: right;
                    width: 140px;

                    .stop {
                        margin-left: 3px;
                        margin-bottom: 3px;
                    }

                    .start {
                        margin-top: 3px;
                    }

                    .volume {
                        display: inline-block;
                        margin-left: 3px;
                    }
                }
            }
            .ItemName:hover {
                border: 1px solid rgba(78, 154, 255, 0.63);
                box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
                    0 3px 6px rgba(78, 154, 255, 0.63);
            }

            .ChangeButton {
                height: 35px;
                margin-top: 6px;
                float: right;
                .Button {
                    font-size: 0px;
                    display: inline;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 5px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .Notify {
        margin-top: 20px;
        .NotifyItem {
            height: 35px;
            width: 500px;
            margin-left: 270px;
            .Guide1 {
                line-height: 22px;
                font-size: 17px;
                float: right;
                margin-right: 180px;
            }
            .Guide2 {
                line-height: 22px;
                font-size: 17px;
                float: right;
                margin-right: 185px;
            }
        }
    }
}

@keyframes buttonHover {
    from {
        border: 1px solid #ada5a5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    to {
        border: 1px solid rgba(78, 154, 255, 0.63);
        box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
            0 3px 6px rgba(78, 154, 255, 0.63);
    }
}

@keyframes buttonLeave {
    to {
        border: 1px solid #ada5a5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    from {
        border: 1px solid rgba(78, 154, 255, 0.63);
        box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
            0 3px 6px rgba(78, 154, 255, 0.63);
    }
}
