.TextComponent {
    .TextList {
        margin: auto;
        margin-top: 40px;
        width: 640px;
        height: 340px;
        border: 1px solid black;
        border-radius: 25px;
        padding-left: 50px;

        .Empty {
            height: 340px;
            line-height: 340px;
            margin-right: 50px;
        }

        .FileUpload {
            margin-top: 24px;
            margin-left: 27px;
            padding-left: 2px;
            float: left;

            .NameInput {
                width: 164px;
                height: 25px;
                vertical-align: middle;
                border: 1px solid black;
                font-family: 'MaplestoryLight';
            }

            .AddButton {
                vertical-align: middle;
                cursor: pointer;
            }
        }

        .TextListItem {
            width: 285px;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            text-align: left;
            float: left;
            margin-top: 25px;
            margin-left: 27px;

            .ItemName {
                display: inline-block;
                border-radius: 10px;
                padding-left: 10px;
                width: 200px;
                border: 1px solid #ada5a5;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;
                transition: all 0.1s;

                .EditInput {
                    height: 28px;
                    width: 180px;
                    font-size: 17px;
                    border: 1px solid black;
                    font-family: 'MaplestoryLight';
                }
            }
            .ItemName:hover {
                border: 1px solid rgba(78, 154, 255, 0.63);
                box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
                    0 3px 6px rgba(78, 154, 255, 0.63);
            }

            .ChangeButton {
                height: 35px;
                float: right;
                .Button {
                    font-size: 0px;
                    display: inline;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 0px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .Notify {
        margin-top: 20px;
        .NotifyItem {
            height: 35px;
            width: 500px;
            margin-left: 270px;
            .Guide1 {
                line-height: 22px;
                font-size: 17px;
                float: right;
                margin-right: 160px;
            }
            .Guide2 {
                line-height: 22px;
                font-size: 17px;
                float: right;
                margin-right: 185px;
            }
        }
    }
}
