.TextComponent {
    .TextList {
        margin: auto;
        margin-top: 40px;
        width: 640px;
        height: 340px;
        border: 1px solid black;
        border-radius: 25px;
        padding-left: 50px;

        .Empty {
            height: 340px;
            line-height: 340px;
            margin-right: 50px;
        }

        .TextListItem {
            width: 285px;
            height: 35px;
            line-height: 35px;
            vertical-align: middle;
            text-align: left;
            float: left;
            margin-top: 15px;
            margin-left: 27px;

            .ItemName {
                display: inline-block;
                border-radius: 10px;
                padding-left: 10px;
                width: 200px;
                border: 1px solid #ada5a5;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                    0 3px 6px rgba(0, 0, 0, 0.23);
                cursor: pointer;
                transition: all 0.1s;

                .EditInput {
                    height: 28px;
                    width: 180px;
                    font-size: 17px;
                    border: 1px solid black;
                    font-family: 'MaplestoryLight';
                }
            }
            .ItemName:hover {
                border: 1px solid rgba(78, 154, 255, 0.63);
                box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
                    0 3px 6px rgba(78, 154, 255, 0.63);
            }

            .ChangeButton {
                height: 35px;
                float: right;
                .Button {
                    font-size: 0px;
                    display: inline;
                    vertical-align: middle;
                    width: 30px;
                    height: 30px;
                    margin-bottom: 5px;
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }
    }

    .FileUpload {
        margin-top: 30px;
        display: block;

        .NameInput {
            width: 200px;
            height: 25px;
            vertical-align: middle;
            border: 1px solid black;
            font-family: 'MaplestoryLight';
        }

        .AddButton {
            vertical-align: middle;
            cursor: pointer;
        }
    }
}

@keyframes buttonHover {
    from {
        border: 1px solid #ada5a5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    to {
        border: 1px solid rgba(78, 154, 255, 0.63);
        box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
            0 3px 6px rgba(78, 154, 255, 0.63);
    }
}

@keyframes buttonLeave {
    to {
        border: 1px solid #ada5a5;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    from {
        border: 1px solid rgba(78, 154, 255, 0.63);
        box-shadow: 0 3px 6px rgba(78, 154, 255, 0.63),
            0 3px 6px rgba(78, 154, 255, 0.63);
    }
}
